name: lint
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          only-new-issues: true
      - name: golangci-lint goconst
        uses: golangci/golangci-lint-action@v6
        with:
          only-new-issues: true
          # just show warnings
          args: --issues-exit-code=0 --no-config --disable-all --enable goconst